body {
  font-size: 15pt;
  background-color: #C4DCFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Times New Roman";
  margin : auto;
  padding-top: 20px;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-family: "Tahoma";
  text-align: center;  
  margin: auto;
  font-size: 20px;
}

.intro {
    text-align: justify;
    font-family: "tahoma";
    margin: 20px auto;
    font-size: 18px;
    padding: auto;
    width: 80%;
    max-width: 700px;
}

.email, .insta, .whatsapp, .linkedin, .tiktok {
  margin: 10px auto;
  font-size: 18px;
  text-align: left;
  background: #fff0ca;
  border-radius: 15px;
  padding: 15px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 450px;
  border-top: 10px;
  border-bottom: 10px;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

img {
  display: block;
  margin: 40px auto;
  width: 80%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 700px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.2rem;
  }

  intro {
    width: 90%;
    font-size: 16px;
  }

    .email, .insta, .whatsapp, .linkedin, .tiktok {
    width: 90%;
    font-size: 16px;
    padding: 15px;
  }

  img {
    width: 90%;
    height: auto;
  }
}

footer {
  font-family: "Times New Roman";
  text-align: center;
  margin: 100px auto 30px;
  font-size: 18px;
}
